node_modules/
www/
android/.gradle/
android/local.properties
android/**/build/
ios/App/App/public/
ios/App/Pods/
ios/App/build/
*.keystore
*.jks
*.mobileprovision
*.p12
android/app/google-services.json
