<section class="ads">
  <article>
    <h2>Lokala erbjudanden</h2>
    <div class="offer">
      <strong>20%<small>på alla skor</small></strong>
      <span><b>Team Sportia Åmål</b><small>Gäller till 26 maj</small></span>
      <i>🍲</i>
      <span><b>Dagens lunch från 99 kr</b><small>Restaurang Sjökanten</small></span>
    </div>
  </article>

  <article class="sponsor">
    <b>viaplay</b>
    <h2>Underhållning för hela familjen</h2>
    <button>Prova 1 månad gratis</button>
  </article>
</section>
